window {
    background-color: rgba(0, 0, 0, 0.0);
}

label {
    /* 圆角 */
    border-radius: 16px;

    font-size: 28px;
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

/* 相比于label的变更, 改为 label#origin 则为应用到原歌词 */
label#translated {
    border-radius: 12px;
    margin: 3px 0px;
    font-size: 24px;
    padding: 7px;
}