/* 标题边框 */
headerbar {
    opacity: 0.5;
}

/* 主窗口 */
window#main-window {
    background-color: rgba(0, 0, 0, 0.0);
    /* 减少 Gtk CSD 的阴影 */
    box-shadow: 0px 0px 1px 0px;
}

label#above,
label#below {
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(0, 0, 0, 0.3);
}

label#above {
    border-radius: 16px;
    font-size: 28px;
    padding: 10px;
}

label#below {
    border-radius: 12px;
    font-size: 24px;
    padding: 7px;
    margin: 5px 0px;
}
