/* 标题边框 */
headerbar {
  opacity: 0.5;
}

/* 主窗口 */
window#main-window {
  background-color: hsl(0deg 0% 0% / 0%);

  /* 减少 Gtk CSD 的阴影 */
  box-shadow: 0 0 1px 0;
}

label#above,
label#below {
  padding: 10px;
  color: hsl(0deg 0% 100%);
  background: linear-gradient(135deg, hsl(217deg 33% 43%), hsl(216deg 50% 37%));
  border-radius: 10px;
}

label#above {
  font-size: 28px;
}

label#below {
  margin: 5px 0;
  font-size: 24px;
}
